/* Scss Document */

h1 {
	font-family: CenturyGothic;
	color: #00a7e3;
	font-size: 18px;
	font-weight: 700;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 8px;
	}

h2 {
	font-family: CenturyGothic;
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	margin: 0px;	
	}
			
h4 {
	font-family: CenturyGothic;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 700;
	margin: 0px;	
	}

h5 {
	font-family: CenturyGothic;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 200;
	margin: 0px;	
	}
